*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
	font-family: poppins, sans-serif;

}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: linear-gradient ("-40deg, #e2e2e2, #c9d6ff, #d1c4ff, #e2e2e2");
	background-size: 400% 400%;
	animation: gradientBg 15s ease infinite;
}
